.page-header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 10%;
    padding: .5em .5em;
    background-color: hsl(217°, 6%, 19% ); //217°, 6%, 19%
    border-top-right-radius: 10px;

    box-shadow: 0.01em 0 .2em 0px;
   

}
