.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85vw;
   
   

        
    &__section{
        
        
        text-align: center;
        height: 100vh;
      
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        padding: .5em;
        
        
        
        &__title{
             
    font-size: 4rem;
    font-weight: 500;
    margin: .5em 0;
   
        }
        &__text{
            max-width: 75ch;
            overflow-y: auto;
            overflow-x: hidden;
            direction: rtl;
            font-size: 2rem;
            padding : .5em;
      line-height: 2.5rem;
      letter-spacing: 1px;
      word-break: break-all;
        }

        
    }


}


@media (max-width : 700px ){

.main{
    width: 75vw;
}
.navbar{
    width: 25vw;
}
.navbar__button{
    font-size: 0.9rem;

}
.main{
    &__section{
        &__text{
            font-size: 1rem;
            max-width: 45ch;
            
        }
        &__title{
            font-size: 2rem;
            margin: 1em 0;
        }

    }
    
}
.sections-container{
    display: flex;
    flex-direction: column;
    
}

.add{
    font-size: 1rem;
}

}

